@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

/*   font-family: "IM Fell French Canon", serif;     

font-family: "Yuji Mai", serif;                 (squigily)

font-family: "Syne Mono", serif;              (spooky sci fi)

 font-family: "Iceland", serif;    (sci fi looking)

  font-family: "IM Fell French Canon", serif;     (fantasy looking)

   font-family: "Eagle Lake", serif;                (more fantasy looking)


   colors:
   #396E94 (ultra marine blue)

   #E7C24F (gold yellow)

   #A42212 (dark red)

   white
   black

*/




body {
    background-color: #b4ccc3;
}


nav {
    display: flex;
    justify-content: space-around;
}

.logo {
   /* border: 20px, solid, purple;  */
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: 30%;
}

.home-title {
    color: black;
    font-family: "Iceland", serif;
    font-size: 50px;
    text-align: center;

}

#hero1 {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#p1 {
    color: black;
    font-size: 20px;
    text-align: center;
    font-family: "Syne Mono", serif; 

}
